global:
  name: consul
  datacenter: dc3-k3s
  domain: consul-lab.myinfo.com
  image: hashicorp/consul-enterprise:1.21.4-ent
  enterpriseLicense:
    secretName: consul-ent-license
    secretKey: key
  tls:
    enabled: true
    caCert:
      secretName: consul-federation
      secretKey: caCert
    caKey:
      secretName: consul-federation
      secretKey: caKey

  # Delete this acls section if ACLs are disabled.
  acls:
    manageSystemACLs: true
    replicationToken:
      secretName: consul-federation
      secretKey: replicationToken

  federation:
    enabled: true
    k8sAuthMethodHost: https://DB4869D0XXXXXXXXXXXXXX757829DD.gr7.us-west-2.eks.amazonaws.com
    primaryDatacenter: dce
    primaryGateways: ["10.0.5.32:8443"]

  gossipEncryption:
    secretName: consul-federation
    secretKey: gossipEncryptionKey


connectInject:
  enabled: true
meshGateway:
  enabled: true
  wanAddress:
    source: NodeIP
    port: 32117
  service:
    type: NodePort
    nodePort: 32117
server:
  extraConfig: |
    {
      "primary_gateways": ["10.0.5.32"]
    }
  enabled: true
  replicas: 1
