global:
  enabled: true
  name: consul
  image: hashicorp/consul:1.21.0
  datacenter: dc1
  tls:
    enabled: true
  acls:
    manageSystemACLs: true
  metrics:
    enabled: true
    enableAgentMetrics: true
    agentMetricsRetentionTime: "1m"
  gossipEncryption:
    autoGenerate: true
server:
  enabled: true
  replicas: 3
connectInject:
  enabled: true
  metrics:
    defaultEnabled: true
    defaultEnableMerging: true
  apiGateway:
    managedGatewayClass:
      serviceType: LoadBalancer
meshGateway:
  enabled: true
ui:
  enabled: true
  service:
    type: LoadBalancer
  metrics:
    enabled: true
    provider: "prometheus"
    baseURL: http://prometheus-server.default.svc.cluster.local
